<tr>
	<td><%= phone_number.number %></td>
	<td>
		<ul>
			<li class="actions"><%= link_to "Edit", edit_phone_number_path(phone_number) %></li>
			<li class="actions"><%= link_to "Delete", phone_number_path(phone_number), method: :delete, data: {confirm: "Are you sure?"}  %></li>
		</ul>
	</td>
</tr>